body {
  margin: 0;
}
body.focused-youtube-popup-page {
  width: 300px;

  background-color: #FFF;

  font-family: Roboto, system-ui, sans-serif;
  color: #282828;
}

html.focused-youtube-embed {
  height: auto;
  width: auto;
  margin: 0;
}

body.focused-youtube-embed {
  height: auto;
  width: auto;
  margin: 0;

  font-family: Roboto, system-ui, sans-serif;
}

body.focused-youtube-banner {
  
}


